.popular{
    margin-top: -1px;
    padding-bottom: 200px;
}

.popular__title{
    padding-top: 152px;
    padding-bottom: 30px;
    color: white;
    opacity: 75%;
}


.popular__text{
    max-width: 790px;
    color: white;
    margin: 0 auto;
    opacity: 75%;
    padding-bottom: 60px;
}

