*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: black;
  color: white;
}

h1, h2 {
  margin: 0;
  opacity: 75%;
}

ol, ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  opacity: 75%;
}

p {
  opacity: 75%;
}

.header {
  background-image: url("../../..../../images/hero.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

.header__container {
  max-width: 1295px;
}

.navbar {
  padding-top: 20px;
}

.custom-navbar {
  background-color: transparent !important;
}

.navbar-nav {
  gap: 60px;
}
@media (max-width: 1024px) {
  .navbar-nav {
    padding-top: 100px;
  }
}

@media (max-width: 1024px) {
  .nav-item {
    text-align: center;
  }
}

.nav-link {
  color: white;
}

.nav-link:hover {
  color: red;
  -webkit-transition: ease-in-out 0.3s;
  transition: ease-in-out 0.3s;
}

.header-contact {
  border-radius: 0;
  padding: 9px 24px;
}

.navbar-text {
  color: white;
  position: relative;
}

.navbar-text::before {
  position: absolute;
  content: "";
  background-image: url("../../../../src/images/time.svg");
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  left: -25px;
  top: 10px;
}

@media (max-width: 640px) {
  .header-work-hours {
    display: none;
  }
}

.navbar-toggler {
  background-color: white;
}

.hero__content {
  padding-top: 246px;
  padding-bottom: 233px;
  padding-left: 160px;
  position: relative;
}

.hero__content::before {
  position: absolute;
  content: "";
  background-image: url("../../../../src/images/red-line.svg");
  background-repeat: no-repeat;
  width: 132px;
  height: 2px;
  left: 15px;
  top: 265px;
}

.hero__title {
  color: white;
  font-size: 60px;
  max-width: 460px;
  padding-bottom: 34px;
}
@media (max-width: 768px) {
  .hero__title {
    font-size: 40px;
    max-width: 280px;
  }
}

.hero__button {
  border-radius: 0;
  margin-right: 20px;
}

.hero__social {
  position: absolute;
  right: 0px;
  top: 280px;
}
@media (max-width: 768px) {
  .hero__social {
    display: none;
  }
}

.hero__social-link {
  display: block;
  margin-bottom: 48px;
}

.hero__social-link:last-child {
  margin-bottom: 0;
}

.popular {
  margin-top: -1px;
  padding-bottom: 200px;
}

.popular__title {
  padding-top: 152px;
  padding-bottom: 30px;
  color: white;
  opacity: 75%;
}

.popular__text {
  max-width: 790px;
  color: white;
  margin: 0 auto;
  opacity: 75%;
  padding-bottom: 60px;
}

.workout {
  margin-bottom: 200px;
}

.container-workout {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.workout-image-holder {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .workout-image-holder {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1920px) {
  .workout-image-wrapper {
    max-width: 280px;
  }
}
@media (max-width: 1440px) {
  .workout-image-wrapper {
    max-width: 220px;
  }
}
@media (max-width: 1200px) {
  .workout-image-wrapper {
    max-width: 160px;
  }
}

.workout-image-wrapper:nth-child(even) {
  padding-top: 80px;
}

@media (max-width: 1920px) {
  .workout-image {
    max-width: 280px;
  }
}
@media (max-width: 1440px) {
  .workout-image {
    max-width: 220px;
  }
}
@media (max-width: 1200px) {
  .workout-image {
    max-width: 160px;
  }
}

.ultimate {
  margin-bottom: 250px;
}

.ultimate-title {
  max-width: 340px;
}

.ultimate-text {
  padding-top: 20px;
  position: relative;
}

.personal {
  margin-bottom: 155px;
}
@media (max-width: 568px) {
  .personal {
    margin-bottom: 350px;
  }
}

.personal-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-width: 1600px;
  width: 100%;
}
@media (max-width: 1200px) {
  .personal-container {
    width: 50%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .personal-image-holder {
    padding-bottom: 100px;
  }
}

.personal-content {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  padding-left: 82px;
}

.personal-title {
  font-size: 36px;
  padding-bottom: 24px;
}

.personal-subtitle {
  font-size: 24px;
}

.personal-text {
  max-width: 470px;
}

.welcome {
  position: relative;
  margin-bottom: 200px;
}

.welcome-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
}

.welcome-image-low {
  margin-top: 160px;
}

.welcome-content {
  padding-top: 40px;
}

.welcome-title {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 22px;
}

.welcome-text {
  max-width: 388px;
  text-align: center;
  margin: 0 auto;
}

.welcome-block-top {
  position: absolute;
  right: 0;
  top: -275px;
}

.welcome-block-bottom {
  position: absolute;
  bottom: -465px;
}

.subscribe {
  background-image: url("../../../../src/images/subscribe-background.png");
  background-position: center;
  background-repeat: no-repeat;
  padding-top: 235px;
  padding-bottom: 180px;
}

.subscribe-title {
  margin-bottom: 16px;
}

.subscribe-text {
  margin-bottom: 38px;
}

.subscribe-input {
  max-width: 100%;
  width: 402px;
  height: 60px;
  max-height: 100%;
  border: 1px solid #FFFFFF;
  background-color: transparent;
  color: white;
}

.subscribe-input::-webkit-input-placeholder {
  text-align: center;
}

.subscribe-input::-moz-placeholder {
  text-align: center;
}

.subscribe-input:-ms-input-placeholder {
  text-align: center;
}

.subscribe-input::-ms-input-placeholder {
  text-align: center;
}

.subscribe-input::placeholder {
  text-align: center;
}

.subscribe-button {
  padding: 17px 175px;
}

.image-section {
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 2, 1fr;
  grid-template-rows: 2, 1fr;
}

.form-holder {
  margin-bottom: 16px;
}

.footer-holder {
  padding-bottom: 110px;
}
@media (max-width: 1024px) {
  .footer-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 0 auto;
  }
}

@media (max-width: 1024px) {
  .footer-column {
    text-align: center;
    margin-bottom: 35px;
  }
}

@media (max-width: 1024px) {
  .footer-logo-holder {
    margin: 0 auto;
    padding-bottom: 35px;
    text-align: center;
  }
}

.footer-information {
  padding-bottom: 25px;
}

.footer-information-social {
  margin: 0 auto;
  padding-bottom: 25px;
}

.footer-link {
  color: white;
}

.footer-text {
  max-width: 360px;
}

.footer-link-item {
  margin-bottom: 20px;
}

.footer-list-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 9px;
}
@media (max-width: 1024px) {
  .footer-list-social {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.footer-copyright-holder {
  margin: 0 auto;
  text-align: center;
}
@media (max-width: 1024px) {
  .footer-copyright-holder {
    text-align: center;
  }
}

.footer-copyright-red {
  color: red;
}